@import "./base.css";

@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("@/assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

#app {
  max-width: 1236px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

body {
  font-family: "NotoSans", sans-serif;
  font-weight: normal;
  width: 100%;
  background: linear-gradient(to bottom, #060b1f, #09153d);
  place-items: center;
}
